<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style type="text/css">
        h1{    
               font-weight: bold;
               margin-top:60px;
               margin-right:40px;
               margin-bottom:0px;
               margin-left:500px;
               margin-bottom: 80px;
           }
       h2{
           font-size: 25px;
           font-style: italic;
           margin-top:10px;
           margin-right:40px;
               /* margin-bottom:80px; */
           margin-left:500px;
       }
       
       </style>
</head>
<body>
    f_list
    <h1>food list</h1>
    {% for f in f_list %}
        
        
        <a href="/food/{{ f._id }}"><h3>{{f.name}}</h3></a>
        <div>{{f.price}}</div>
    {% endfor %}
</body>
</html>